header{
    color: white;
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    
    
}
#sign-in{
    text-align:center;
    margin-left:1200px;
    display:inline
}
#sign-up{
    text-align: center;
    margin-left: 1200px;
    display: inline;
}